.container{
    padding: 2% 10%;
}

.container header{
    font-weight: bold;
    font-size: larger;
}

.formContainer{
    width: 100%;
}

.formContainer fieldset{
    border: none;
    padding: 0;
    margin: 1.5rem 0;
}

.formContainer label{
    display: inline;
    text-transform:capitalize;
}

.formContainer p{
    display: inline;
    color: red;
}

.map{
    width: 85%;
    height: 35em;
}

.form-map-container{
    display: flex;
    align-items: center;
    gap: 1em;
}

@media (width < 750px) {
    .form-map-container{
        flex-direction: column;
    }
    .map{
        width: 100%;
    }
}