html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
p{
  font-size: 17px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input {
  display: block;
  width: 100%;
  height: 2.5rem;
  background-color: #fafafa;
  border: 1px solid #ccc;
  padding-left: 1%;
  margin-top: 0.8%;
  transition: border-color 0.4s ease-in-out;
}
input:focus {
  border-color: #964b00c5;
  outline: none;
}
textarea {
  font-family: sans-serif;
  display: block;
  width: 100%;
  height: 6rem;
  resize: vertical;
  background-color: #fafafa;
  border: 1px solid #ccc;
  padding: 1%;
  margin-top: 0.8%;
  transition: border-color 0.4s ease-in-out;
}
textarea:focus {
  border-color: #964b00c5;
  outline: none;
}

.minPageSize{
  min-height: 80vh;
}

.button{
  background-color: transparent;
  border: 1px solid black;
  padding: 0.6em 1.1em;
  font-size: medium;
  margin: 1.1rem auto;
}

.button:hover{
  background-color: black;
  color: white;
  cursor: pointer;
}

.full-screen{
  width: 100%;
  height: auto;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
