.navbar{
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 1.3rem;
    align-items: center;
}

.navItem{
    padding: 15px;
}