

.sliderContainer{
    z-index: -1;
    top: 60px;
    height: 100vh;
    width: 100%;
}

.display{
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.noDisplay{
    display: none;
}

.dot{
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0px 6px;
    background-color: rgba(187, 187, 187, 0);
    border: 1px solid white;
    border-radius: 50%;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: white;
}

.dotContainer{
    bottom: -180px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    margin-bottom: 2%;
}

.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}
.button{
    display: flex;
    justify-content: space-between;
    position: relative;
    top:-57%;
}
.button button {
    padding: 7px 0.8em;
    background-color: transparent;
    border:0;
    color:#fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    font-size: 30px;
}

.button button:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.338);
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
@media (width<750px) {
    .sliderContainer{
        height: 60vh;
        width: 100%;
    }
    .sliderContainer img{
        z-index: -1;
     
        height: 60vh;
        width: 100%;
    }
 
    .dotContainer{
        top: -40px;
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        margin-bottom: 2%;
    }
}