@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;1,100;1,300&family=Open+Sans:wght@300;400&family=Poppins:wght@200&family=Raleway:ital,wght@0,100;0,200;0,300;1,100;1,200&family=Roboto:wght@100;300&display=swap');
.container{
    padding: 5%;
    display: flex;
    justify-content: space-between;
}
.reverse{
    padding: 5%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.container img, .reverse img{
    width: 100%;
    height: auto;
}
.container div h1, .reverse div h1 {
    font-family: 'Raleway', sans-serif;

}
.container div h3, .reverse div h3{
    font-family: 'Raleway', sans-serif;

}
.container div h4, .reverse div h4 {
    font-family: 'Raleway', sans-serif;

}

.container div, .reverse div{
    padding: 0 5%;
    width: 100%;
    margin: auto;
}

.container p, .reverse p{
    font-weight: 300;

    font-family: 'Lato', sans-serif;

}
@media (width<750px) {
    .container, .reverse{
        padding: 5%;
        display: flex;
       flex-direction: column;
        justify-content: space-between;
    }
}